@import "abstract";

.transfer-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__submit {
    @include active-button;

    width: 13rem;
    margin-top: 1.75rem;
    text-transform: uppercase;
  }
}

.form-controls {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;

  &__input {
    flex: 1 1 250px;
    margin: 0 1rem 1rem;

    &_amount {
      margin-top: 0.5rem;
    }
  }
}
