<app-tile-box>
  <app-tile-heading [title]="title">
    <app-icon icon="arrows"></app-icon>
  </app-tile-heading>

  <form class="transfer-form"
        novalidate
        (ngSubmit)="handleSubmit()"
        [formGroup]="form">

    <div class="form-controls">
      <app-input class="form-controls__input">
        <label for="fromAccount">From account</label>
        <input appInputRef
               disabled
               value="{{form.controls.fromAccount.value}} {{balance | currency}}"
               type="text"
               id="fromAccount"
               name="fromAccount"
        />
      </app-input>

      <app-input class="form-controls__input">
        <label for="toAccount">To account</label>
        <input appInputRef
               type="text"
               id="toAccount"
               name="toAccount"
               placeholder="Enter to account"
               formControlName="toAccount"
        />
        <app-input-error controlName="toAccount" errorName="required">
          Target account is required
        </app-input-error>
      </app-input>

      <app-input class="form-controls__input form-controls__input_amount">
        <label for="amount">Amount</label>
        <input appInputRef
               type="currency"
               id="amount"
               name="amount"
               formControlName="amount"
        />
        <app-input-error controlName="amount" errorName="transferAmountCreditLimitExceed">
          You have exceeded credit limit ({{creditLimit | currency}})
        </app-input-error>
        <app-input-error controlName="amount" errorName="required">
          Amount is required
        </app-input-error>
      </app-input>
    </div>

    <button class="transfer-form__submit"
            type="submit"
            [disabled]="form.invalid">
      Submit
    </button>
  </form>
</app-tile-box>
