$primary: #ff7839;
$secondary: #0c8397;
$error: #da370a;
$secondary-light: rgba($secondary, 0.1);

$text: #34312d;
$neutral: #cccccc;
$neutral-text: #7d7974;

$active-button: $primary;
$cancel-button: $neutral-text;
