@mixin container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;

  @media (min-width: $break-xs) {
    padding: 0 2rem;
  }

  @media (min-width: $break-sm) {
    padding: 0;
    width: 720px;
  }

  @media (min-width: $break-md) {
    width: 920px;
  }

  @media (min-width: $break-lg) {
    width: 1200px;
  }
}

@mixin reset-button() {
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

@mixin button {
  @include reset-button();

  padding: 0 0.5rem;
  font-size: 0.85rem;
  line-height: 3;

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

@mixin active-button {
  @include button();

  color: white;
  border-radius: 5px;
  background-color: $active-button;
  text-transform: uppercase;

  &:hover {
    background-color: darken($active-button, 10);
  }
}

@mixin cancel-button {
  @include button();

  color: white;
  border-radius: 5px;
  background-color: $cancel-button;
  text-transform: uppercase;

  &:hover {
    background-color: darken($cancel-button, 10);
  }
}
