<div class="transaction-item">
  <div class="transaction-item__date">
    {{transaction.transactionDate | date: 'MMM. dd' }}
  </div>
  <img class="transaction-item__logo" [src]="transaction.merchantLogo" [alt]="transaction.merchant">

  <div class="transaction-item__description">
    <div class="transaction-item__merchant">
      {{transaction.merchant}}
    </div>
    <div class="transaction-item__payment">
      {{transaction.transactionType}}
    </div>
  </div>
  <div class="transaction-item__amount">
    -{{transaction.amount | currency}}
  </div>
</div>
