@import "abstract";

%item-cell {
  margin: 0 1rem;
}

.transaction-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  transition: 0.15s;

  &__date {
    @extend %item-cell;

    flex-basis: 4rem;
    color: $neutral-text;
  }

  &__logo {
    @extend %item-cell;

    width: 2.65rem;
    filter: grayscale(100%);
    transition: 0.3s;
  }

  &__description {
    @extend %item-cell;

    flex: 1 1 auto;

    @media (max-width: $break-xs - 1) {
      margin-top: 0.75rem;
      width: 100%;
    }
  }

  &__merchant {
    font-weight: bold;
    font-size: 1.15rem;
  }

  &__payment {
    margin-top: 0.25rem;
  }

  &__amount {
    @extend %item-cell;

    font-weight: bold;
    font-size: 1.25rem;

    @media (max-width: $break-sm - 1) {
      margin-top: 0.75rem;
      width: 100%;
      text-align: right;
    }
  }

  &:hover {
    background-color: $secondary-light;

    .transaction-item__logo {
      filter: grayscale(0%);
    }
  }
}
