<app-tile-box>
  <app-tile-heading [title]="title">
    <app-icon icon="arrows"></app-icon>
  </app-tile-heading>

  <div class="transfer-confirm">
    <h3 class="transfer-confirm__title">
      {{transfer.transactionType}}
    </h3>

    <p class="transfer-confirm__text transfer-confirm__text_amount">
      <span class="transfer-confirm__label">Amount:</span>
      <span class="transfer-confirm__value">{{transfer.amount | currency}}</span>

    </p>

    <p class="transfer-confirm__text transfer-confirm__text_from">
      <span class="transfer-confirm__label">From:</span>
      <span class="transfer-confirm__value">{{ transfer.benefactor }}</span>
    </p>
    <p class="transfer-confirm__text transfer-confirm__text_to">
      <span class="transfer-confirm__label">To:</span>
      <span class="transfer-confirm__value">{{ transfer.beneficiary }}</span>
    </p>

    <div class="transfer-confirm-buttons">
      <button class="transfer-confirm-buttons__cancel"
              type="button"
              (click)="handleBackNavigation()">
        Cancel
      </button>
      <button class="transfer-confirm-buttons__confirm"
              type="button"
              (click)="handleTransferConfirm()">
        Confirm
      </button>
    </div>
  </div>
</app-tile-box>
