@import "abstract";

.transfer-confirm {
  &__title {
    font-weight: bold;
  }

  &__text {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.15rem;

    &_amount {
      flex-wrap: wrap;
      font-size: 1.75rem;
      line-height: 1.5;
      font-weight: bold;
      margin: 1rem 0 1.5rem;
    }

    &_from {}

    &_to {}
  }

  &__label {
    color: $neutral-text;
    font-size: 0.8rem;
    font-weight: normal;
    margin-right: 0.5rem;
  }

  &__value {}
}

.transfer-confirm-buttons {
  display: flex;
  margin-top: 3rem;

  &__confirm {
    @include active-button;

    flex-grow: 1;
    margin-left: 0.625rem;
  }

  &__cancel {
    @include cancel-button;

    flex-grow: 1;
    margin-right: 0.625rem;
  }
}
