<header class="header">
  <div class="header__content">
    <a href="/" class="header__link">
      <img class="header__logo" src="/assets/logo.jpg" alt="Peachtree Bank logo">
    </a>
  </div>
</header>
