@import "abstract";

.header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid $primary;
  background: white;

  &__content {
    @include container;
  }

  &__link {
    display: inline-block;
  }

  &__logo {
    width: 100%;
    max-width: 450px;
    margin: 1.45rem 0;

    @media (min-width: $break-sm) {
      width: auto;
      height: 40px;
    }
  }
}
