@import "abstract";

:host ::ng-deep app-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.tile-heading {
  position: relative;
  padding: 1em;
  color: white;
  background-color: $secondary;

  &__title {
    margin: 0 3em;
    text-align: center;
  }
}
