@import url('https://fonts.googleapis.com/css?family=Kanit:300,400,600&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  color: $text;
  font-family: $main-font;
  font-weight: 300;
}
