@import "abstract";

:host {
  @media (max-width: $break-md - 1) {
    margin: -0.25rem;
  }
}

:host ::ng-deep > * {
  @media (max-width: $break-md - 1) {
    button {
      margin: 0.25rem;
    }
  }

  @media (min-width: $break-md) {
    &:not(:first-child) button {
      border-left: none;
    }
  }
}
