@import "abstract";

.button-toggle {
  @include reset-button;

  position: relative;
  padding: 0.35rem 1.5rem;
  border: 1px solid $neutral;

  text-transform: uppercase;
  transition: 0.15s;

  &_active {
    &::after {
      $size: 5px;

      content: '';
      position: absolute;
      right: 0.5rem;
      top: 50%;
      border-style: solid;
      border-width: 0 #{$size} #{$size * 1.5} #{$size};
      border-color: transparent transparent $neutral transparent;
      margin-top: -$size/2;
      transition: 0.3s;
      transform-origin: 50% 60%;
    }
  }

  &_on {}

  &_off {
    &::after {
      transform: rotate(180deg);
    }
  }

  &:hover {
    background-color: $secondary-light;
  }
}
