<button #control
        type="button"
        class="button-toggle"
        [name]="name"
        [class.button-toggle_active]="isActive"
        [class.button-toggle_on]="isOn"
        [class.button-toggle_off]="!isOn"
        (click)="handleToggle()">
  <ng-content></ng-content>
</button>
