<ng-content select="label"></ng-content>
<div class="form-control"
     [class.form-control_focus]="focus"
     [class.form-control_error]="hasError">
  <ng-container [ngTemplateOutlet]="isCurrencyType ? currencyIcon : contentIcon"></ng-container>
  <ng-content select="input"></ng-content>
  <ng-container *ngIf="isClearable$ | async">
    <span  class="form-control__clear" (click)="handleClear()"></span>
  </ng-container>
</div>
<ng-content select="app-input-error"></ng-content>

<ng-template #currencyIcon>
  <span class="form-control__icon form-control__icon_currency">{{currencySymbol}}</span>
</ng-template>

<ng-template #contentIcon>
  <span class="form-control__icon">
    <ng-content select="app-icon"></ng-content>
  </span>
</ng-template>
