@import "abstract";

:host {
  display: block;

  ::ng-deep {
    label {
      display: block;
      margin-bottom: 0.25rem;

      font-size: 0.75rem;
      line-height: 2;
      font-weight: bold;
      text-transform: uppercase;
    }

    input {
      width: 100%;
      font-size: 1rem;
      line-height: 1.85;
      color: $neutral-text;
      padding-right: 2rem;

      font-family: $main-font;
      font-weight: 300;

      background: none;
      outline: none;
      border: none;

      &[disabled] {
        opacity: 0.5;
      }
    }

    app-input-error {
      display: block;
      margin-top: 0.5rem;
      color: $error;
    }
  }
}

.form-control {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid $neutral;
  transition: border-bottom-color .15s;

  &__clear {
    $size: 1.5rem;

    position: absolute;
    top: 50%;
    right: 0.5rem;
    width: $size;
    height: $size;
    margin-top: -$size / 2;
    opacity: 0;
    transition: transform .2s, opacity .1s;
    user-select: none;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 60%;
      height: 2px;
      background: $neutral;
      top: 50%;
      left: 50%;
    }

    &::before {
      transform: translateX(-50%) rotate(-45deg) ;
    }

    &::after {
      transform:translateX(-50%) rotate(45deg) ;
    }

    &:hover {
      transform: rotate(180deg);
    }
  }

  &__icon {
    &_currency {
      flex-basis: 15px;
      line-height: 2;
    }
  }

  &:hover {
    .form-control__clear {
      opacity: 1;
    }
  }

  &_focus {
    border-bottom-color: $secondary;
  }

  &_error {
    border-bottom-color: $error;
  }
}
