@import "abstract";

:host {
  display: block;
  height: 100%;
  background: url("/assets/background.jpg") center no-repeat;
  background-size: cover;
  overflow: auto;
}

.content {
  @include container;

  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;

  @media (min-width: $break-md) {
    margin-top: 70px;
  }

  &__main {
    flex: 1 1 450px;
    margin: 2rem 0;

    @media (min-width: $break-md) {
      margin-top: 0;
      margin-left: 30px;
    }
  }

  &__aside {
    flex: 1 1 320px;

    @media (min-width: $break-md) {
      flex: 0 0 320px;
      width: 320px;
    }
  }
}
