<app-header></app-header>
<div class="content">
  <aside class="content__aside">
    <router-outlet></router-outlet>
  </aside>
  <main class="content__main">
    <router-outlet name="main"></router-outlet>
  </main>
</div>
