<app-tile-box>
  <app-tile-heading [title]="title" class="home-main-header">
    <app-icon icon="briefcase"></app-icon>
  </app-tile-heading>
  <app-transactions-filter [search]="search$ | async"></app-transactions-filter>

  <ng-container *ngIf="(transactions$ | async) as transactions">
    <ng-container *ngIf="transactions.length; then showList; else emptyList"></ng-container>

    <ng-template #showList>
      <app-transaction-list [transactions]="transactions"></app-transaction-list>
    </ng-template>

    <ng-template #emptyList>
      <app-transaction-list-empty></app-transaction-list-empty>
    </ng-template>
  </ng-container>
</app-tile-box>
