@import "abstract";

.transactions-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin: 0 -1rem;

  &__search {
    flex: 1 1 auto;
    margin: 0 1rem 1.5rem;

  }

  &__sort {
    margin: 0 1rem 1.5rem;
  }
}

.transactions-sort {
  display: flex;
  align-items: center;

  &__label {
    margin: 0 1rem;
    font-weight: bold;
    font-size: 0.85rem;
    white-space: nowrap;
  }

  &__toggle {}
}
