<div class="transactions-filter" [formGroup]="form">
  <app-input class="transactions-filter__search">
    <input appInputRef
           type="text"
           name="query"
           placeholder="Search by typing..."
           formControlName="query"/>
  </app-input>

  <div class="transactions-sort transactions-filter__sort">
    <p class="transactions-sort__label">Sort by</p>
    <app-button-group>
      <app-button-toggle class="transactions-sort__toggle" formControlName="date">Date</app-button-toggle>
      <app-button-toggle class="transactions-sort__toggle" formControlName="beneficiary">Beneficiary</app-button-toggle>
      <app-button-toggle class="transactions-sort__toggle" formControlName="amount">Amount</app-button-toggle>
    </app-button-group>
  </div>
</div>
