@import "abstract";

.transaction-list {
  $frame-border: 2px solid $neutral;

  border-bottom: $frame-border;
  border-right: $frame-border;

  &__item {
    border-left: 0.75rem solid transparent;
  }

  &__bordered {
    display: block;
    border-top: $frame-border;
  }
}
