<ul class="transaction-list">
  <li *ngFor="let transaction of transactions"
      class="transaction-list__item"
      [style.border-left-color]="transaction.categoryCode">
    <app-transaction-item class="transaction-list__bordered"
                          [transaction]="transaction">
    </app-transaction-item>
  </li>
</ul>
